//Colors
$color-background: #F7FDFB;
$color-yellow: #FFB800;
$color-gary: #575C74;
$color-dark-blue: #0C122D;
$color-white: #FFFFFF;
$color-blue: #1B5FC1;
$color-black: #000000;
$color-light-gray-1: #eef2f6;
$color-light-gray-2: #ECF0F5;
$color-light-gray-3: #E1E6EC;
$color-light-gray-4: #d6e2f4;

//Font
$default-text-color: #575C74;
$default-title-color: #0C122D;
$default-font-size: 16px;

//Screen size
$small-desktop: 1344px;
$landscape-tablets: 1200px;
$tablets: 944px;
$small-tablets: 704px;
$phones: 544px;

