<footer class="footer">
    <div class="footer__head">
        <div class="container">
            <a href="#" class="footer__communicate">
                <div class="footer__icon">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="footer__info">
                    <p class="footer__title">
                        Address
                    </p>
                    <p class="footer__contact">123 5th Avenue, New York, US</p>
                </div>
            </a>
            <div class="footer__vertical-line vertical-line"></div>
            <a href="tel:+11234567890" class="footer__communicate">
                <div class="footer__icon">
                    <i class="fa-solid fa-phone-flip"></i>
                </div>
                <div class="footer__info">
                    <p class="footer__title">
                        Call Us
                    </p>
                    <p class="footer__contact">+1 123 456 7890</p>
                </div>
            </a>
            <div class="footer__vertical-line vertical-line"></div>
            <a href="mailto:info@example.com" class="footer__communicate">
                <div class="footer__icon">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="footer__info">
                    <p class="footer__title">
                        Email Us
                    </p>
                    <p class="footer__contact">info@example.com</p>
                </div>
            </a>
        </div>
    </div>
    <div class="footer__main">
        <div class="container">
            <div class="footer__content">
                <div class="logo"></div>
                <p class="footer__text">
                    Our team is led by several chief engineers, composed of a large number of researchers absorbed in
                    their work in our comprehensive laboratory, which is also a renowned medical equipment testing
                    center in Hong Kong.
                </p>
            </div>
            <nav class="footer__navigation">
                <p class="footer__title">Company</p>
                <ul class="footer__list">
                    <li class="footer__item"><a href="#" class="footer__link">Home</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">About</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Product</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">Contact</a></li>
                    <li class="footer__item"><a href="#" class="footer__link">History</a></li>
                </ul>
            </nav>
            <nav class="footer__social">
                <p class="footer__title">Follow Us</p>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="fa-brands fa-facebook-square"></i>
                            Facebook
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="fa-brands fa-twitter"></i>
                            Twitter
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="fa-brands fa-google-plus-g"></i>
                            Google +
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="fa-brands fa-youtube"></i>
                            YouTube
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#" class="footer__link">
                            <i class="fa-brands fa-linkedin"></i>
                            Linkedin
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="footer__basement">
        <p class="footer__copyright">
            Copyright © 2020 N95
        </p>
    </div>
</footer>