<header class="header">
    <div class="container">
        <div class="logo"></div>
        <nav class="header__navigation">
            <ul class="header__list">
                <li class="header__item"><a href="#" class="header__link">Home</a></li>
                <li class="header__item"><a href="#" class="header__link">About</a></li>
                <li class="header__item"><a href="#" class="header__link">Product</a></li>
                <li class="header__item"><a href="#" class="header__link">Contact</a></li>
                <li class="header__item"><a href="#" class="header__link">History</a></li>
                <li class="header__item"><a href="#" class="btn btn-blue">Contact us</a></li>
            </ul>
        </nav>
            <div class="header__burger">
                <span></span>
            </div>
    </div>
</header>