<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="@@description">

    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./img/favicon.png">
    <link rel="apple-touch-icon" href="./img/apple-touch-icon.png">
    <link rel="manifest" href="./manifest.json">

    <script src="./js/script.js" defer></script>
    <script src="https://kit.fontawesome.com/a9c6123e2b.js" crossorigin="anonymous" defer></script>

    <title>@@title</title>
</head>