
<div class="reviews__review">
  <div class="reviews__header">
    <div class="reviews__mark">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
    </div>
    <div class="reviews__social-icon">
      <i class="@@icon"></i>
    </div>
  </div>
  <p class="reviews__content">"@@text"</p>
  <div class="reviews__footer">
    <img class="reviews__avatar" src="@@avatar" alt="Some person">
    <div class="reviews__info">
      <p class="reviews__name">@@name</p>
      <p class="reviews__job">@@job</p>
    </div>
  </div>
</div>